@{
    ViewBag.Title = "Cadastro de OS";
}

<html>
<body>
    <div>
        <label for="cliente">Cliente</label>
        <input type="text" id="busca_cliente" name="busca_cliente"></input>

    <div>
        <label for="produtos">Produto</label>
        <select name="produtos">
            <option>-----</option>
            <option>X</option>
            <option>Y</option>
            <option>Z</option>
        </select>
            <input type="number" min="1" name="quantidade" />
            <input type="button" name="incluir" value="+">
    </div>
    <div>
        <label for="produtosutilizados">Produtos Utilizados</label>
        <div>
            <label id="produtosadicionados"></label>
        </div>
    <div>
        <label for="servidor">Serviço</label>
        <select name="servicos">
            <option>-----</option>
            <option>X</option>
            <option>Y</option>
            <option>Z</option>
        </select>
        <input type="button" name="incluir" value="+">
    </div>
    <div>
            <label for="servicosutilizados">Serviços Utilizados</label>
            <label id="servidosadicionados"></label>
    </div>
    <div>
        <label for="desconto">Desconto</label>
        <input type="text" name="desconto">
    </div>
    <div>
        <label for="valor_final">Valor Final</label>
        <label id="valor_final">R$0,00</label>
    </div>
    <div>
        <label for="lojas">Local de Entrega</label>
        <select size="" name="lojas">
            <option>-----</option>
            <option>X</option>
            <option>Y</option>
            <option>Z</option>
        </select>
    </div>
    <div>
        <button type="submit" class="botao" name="finalizar">Finalizar</button>
    </div>
</body>
</html>