@{
    ViewBag.Title = "Cadastro de Produtos";
}

<html>
<body>
        Informações:
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" />
        </div>
        <div>
            <label for="quantidade">Quantidade</label>
            <input type="text" name="quantidade" />
        </div>
        <div>
            <label for="vunitario">Valor Unitário</label>
            <input type="text" name="vunitario" />
        </div>
        <div>
            <button type="submit" name="cadastrar">Cadastrar</button>
        </div>
</body>
</html>